// keys, interaction with keys

var pic_speed = 80                                    // speed  of image change when hovering the arrows
var pic_speed_key = 100
chg_pic = false
click_arr = false            // click arrow

key('w', function(){
  clearInterval(img_dir)
  // alert('down')


        if (click_arr == false){          // move quickly..

              if (!chg_pic){
                 change_pic(pic_speed, 'down')
                 chg_pic = true
              }
              else{
                chg_pic = false
              }

             }
        else if (click_arr == true){    // step by step
                img_up_dwn('down')
             }

 })

key('x', function(){
      clearInterval(img_dir)

      //alert('click_arr ' + click_arr)

      if (click_arr == false){          // move quickly..

            if (!chg_pic){
               change_pic(pic_speed, 'up')
               chg_pic = true
            }
            else{
              chg_pic = false
            }

           }
      else if (click_arr == true){    // step by step
              img_up_dwn('up')
           }


 })

 // pass from hover to click and reversely..

 key('c', function(){

   read_pic_kind = $('#read_pics').val()
   //alert(read_pic_kind)
   unbind_arrows()

   if (!click_arr){
      arrow_click()
      $('#read_pics').val('click')
      $('#read_pics').selectpicker('render')
      click_arr = true
   }

   else{
     arrow_hover()
     $('#read_pics').val('hover')
     $('#read_pics').selectpicker('render')
     click_arr = false
   }

  })


function arrow_hover(){                                                                 // change of image when hovering on the arrow
      //alert('bind with hover !!! ')
      $('#butt_img_up').mouseenter(function(){ change_pic(pic_speed, 'up') })
                       .mouseleave(function(){ clearInterval(img_dir) })
      $('#butt_img_down').mouseenter(function(){ change_pic(pic_speed, 'down') })
                         .mouseleave(function(){ clearInterval(img_dir) })

   }

   function arrow_click(){                                                                // change of image when clicking on the arrow
      //alert('bind with click !!! ')
      $('#butt_img_up').click(function(){ img_up_dwn('up') })
      $('#butt_img_down').click(function(){ img_up_dwn('down') })

   }

   function unbind_arrows(){                                                             // unbind the arrows
      //alert('unbinding !!! ')
      $('#butt_img_up').unbind()
      $('#butt_img_down').unbind()
   }

   arrow_hover()                                                                        // hover at initialization

   //------------------- Change how the images are read

   // select how images are read (click or hover)

   $('#read_pics').on('change', function() {

       read_pic_kind = $(this).val()
       //alert(read_pic_kind)
       unbind_arrows()
       if (read_pic_kind == 'hover'){
               arrow_hover()
            }
       else if (read_pic_kind == 'click'){
               arrow_click()
            }

    });
