$('#choose_kind_plate').on('change', function() {

      var kind =  $(this).val()
      socket.emit("change_plate_kind", kind)
      //alert(kind)

      if (kind == 'nbcells') {             // nb of cells
        curr_cell_border = 'dashed red'
      }
      else if (kind == 'score_annot') {    // score annot
        curr_cell_border = 'dashed green'
      }
      else if (kind == 'exp_fit_rsq') {    // score fit exp
        curr_cell_border = 'dashed green'
      }

      else if (kind == 'cluster_stat') {    // score cluster quality
        curr_cell_border = 'dashed green'
      }

});
