<div class='proc_pics_panel' >

    <!-- Current well -->

    <div id='curr_well' > A2 </div>

    <!-- inserted image -->

    <img id="curr_proc_pic" style="line-height : 20px;" ></img>

    <!-- navigate in the pictures  -->

    <img id="butt_img_up"  src="static/icons/capicon/svg/276.svg"  >
    <img id="butt_img_down"  src="static/icons/capicon/svg/277.svg"  >

    <!-- position of the current frame -->

    <div id='win_num_im' ></div>

    <!-- current time -->

    <span>time: </span>
    <span id='curr_time' ></span>

    <!-- mouse position -->

    <!-- <div id='mouse_pos' ></div> -->

    <div class="">
        <input id="pospic" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="120" data-slider-step="1" data-slider-value="0"/>
     </div>

     <!-- checkbox hover BF pred -->

     <div id="hover_compare">

           <div class="checkbox col-xs-12 hover_BF_pred" style="margin-left: 10px">
             <span> hover BF/pred </span>
               <h5 class="check" style="margin: 0; padding 0;  height:13px">
                 <input class="check" id="hoverBFpred" style="line-height: 10%; top:-2px" name = '' type="checkbox" >
               </h5>
           </div>

     </div>


    <div align="center" id='loading_new_dataset'>
        <input type="text" id="dataset_name"  placeholder="   name dataset">
        <button  class="btn btn" class="butt_dataset" id="load_dataset" > load </button>
    </div>


</div>
